[Unit]
Description=process scheduler manager
Requires=lxc@android.service
After=phosh.service

[Service]
Type=simple
ExecStart=/usr/bin/dsched
Restart=always
RestartSec=5s
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target
